# dependencies
node_modules/
.pnp
.pnp.js
.yarn/install-state.gz

# testing
coverage/

# next.js
.next/
out/
build/
next-env.d.ts

# production
dist/

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env
.env
.env*.local

# deployment
.vercel

# typescript
*.tsbuildinfo

# editors / agents
.claude/*
!.claude/settings.json
